div#jibenxinxi {width:750px;}
div#left{background-color:#8470FF;width:200px; height:100px; float:left;}
div#right{background-color:#B0E0E6;width:550px; height:100px; float:left;}
div#right{background-color:#B0E0E6;width:550px; height:300px; float:left;}
div#gongzuojingli {width:750px;}
div#zhiyejineng {width:750px;}
div#rongyu {width:750px;}
div div h2 {text-align:center; color:white;}
