div#jibenxinxi {width:750px;}
div#left{background-color:#8470FF;width:200px;height:150px; float:left;}
div#right{background-color:#B0E0E6;width:550px;height:150px; float:left;}
div#gongzuojingli {width:750px;}
div#zhiyejineng {width:750px;}
div#rongyu {width:750px;}
